.home{
  height: 100%;
  width: 100%;
  font-size: 0;
}
.home>image{
  height: 150px;
  width: 100%;
}
.content_wrap{
  width: 100%;
}
.content_wrap>.content{
  width: 92%;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background-color: palegoldenrod;
}